<div class="container">
  <img width="200px" src="https://images.squarespace-cdn.com/content/56beda9601dbaed289db4f1d/1489829879726-KQHVYNCIMXOQKPDQR65O/new-SpaceApps_logo.png?format=1500w&content-type=image%2Fpng">
  <img width="200px" src="https://images.squarespace-cdn.com/content/56beda9601dbaed289db4f1d/1489829879726-KQHVYNCIMXOQKPDQR65O/new-SpaceApps_logo.png?format=1500w&content-type=image%2Fpng">

  <p><b>The App</b></p>
  <p>
    This is our entry for the
    <a href="https://2019.spaceappschallenge.org/challenges/living-our-world/spot-fire-v20/details">Spot That Fire V2.0</a>
    challange in the 2019 Space Apps Hackathon.
    <br/>
    Ash is tool for easily & quickly visualizing global fire reports from NASA, as well as allowing users to
    report their own fires.
  </p>

  <p><b>The Team</b></p>
  <a href="https://2019.spaceappschallenge.org/challenges/living-our-world/spot-fire-v20/teams/ash/project">
    Our SpaceApps team page
  </a>
  
  <br/>
  
  <p><b>Technology</b></p>
  <p>Built in a little bit over a day, using Angular 8 and Google Firebase</p>

  <p><b>Resources</b></p>
  Fire data from:
  <a href="https://earthdata.nasa.gov/earth-observation-data/near-real-time/firms">
    https://earthdata.nasa.gov/earth-observation-data/near-real-time/firms
  </a>
  <br/>
  Third party logos owned by <a href="https://www.nasa.gov/">NASA</a> and <a href="https://www.spaceappschallenge.org/"> SpaceApps</a>.
</div>