#map {
  width: 100%;
  height: 90vh;
  margin: auto;
  position: relative;
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  pointer-events: none;
  z-index: 2;
}

.toolbar {
  display: flex;
}

.title {
  flex: 1;
}

button {
  margin: 0px 5px 0px 5px;
}