<mat-toolbar color="primary" class="toolbar">
  <mat-toolbar-row class="toolbar-row">
    <p class="title">Ash</p>

    <!-- <div class="slider-container">
      <mat-slider tickInterval="1" min="1" max="7" step="1" value="1"></mat-slider>
      <p class="label">Showing all fires for past X days</p>
    </div> -->

    <button mat-stroked-button (click)="report()">
      Report Fire
      <mat-icon>report</mat-icon>
    </button>

    <button mat-stroked-button (click)="nearMe()">
      Near Me
      <mat-icon>gps_fixed</mat-icon>
    </button>

    <button mat-stroked-button (click)="filter()">
      Filter
      <mat-icon>filter_list</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<div id="map">
  <mat-spinner class="loading" *ngIf="!hasData"></mat-spinner>
</div>
