<div class="container">
  <p class="title">Filter Data</p>

  <div class="total">
    <p class="heading">{{ data.total }} total fire reports loaded</p>
    <p class="content">{{ data.nasaFires }} NASA fire reports</p>
    <p class="content">{{ data.userFires }} user fire reports</p>
  </div>

  <div class="section">
    <p class="heading">Type of fire reports to display</p>
    <mat-checkbox class="content" [value]="data.showNasaFires" [(ngModel)]="data.showNasaFires">NASA Reports</mat-checkbox>
    <mat-checkbox class="content" [value]="data.showUserFires" [(ngModel)]="data.showUserFires">User Reports</mat-checkbox>
  </div>

  <div class="section">
    <p class="heading">Show all fires in the world from the past {{ data.time }} days</p>
    <mat-slider
      thumbLabel
      class="content"
      tickInterval="1"
      min="1"
      max="7"
      step="1"
      [value]="data.time"
      [(ngModel)]="data.time"
    ></mat-slider>
  </div>

  <div class="buttons">
    <button mat-flat-button color="primary" (click)="close()">
      Update
      <mat-icon>refresh</mat-icon>
    </button>

    <button mat-flat-button color="primary" *ngIf="hasFilters" (click)="reset()">
      Reset
      <mat-icon>clear</mat-icon>
    </button>
  </div>
</div>